<ng-sidebar-container>
	<ng-sidebar opened="true" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799">
	</ng-sidebar>
	<div ng-sidebar-content class="container bottomExtra">
		<br>
		<div class="row">
			<div class="col-md-12">
			<h4>ADERENTI</h4>
			<p>Tra gli aderenti della DeCifris figurano svariate università, centri di ricerca e aziende private.
				In particolare numerosi sono i ricercatori e professori.</p>
			<p>Le sedi italiane che ospitano i nostri affiliati:</p>
			<table>
				<tbody>
				<tr>
					<td>
						<ul>
							<li> CNR: <ul> <li>IAC;</li> <li> ICAR; </li> <li> IASI.</li></ul></li>
							<li> Politecnico di Bari;</li>
							<li> Politecnico di Milano;</li>
							<li> Politecnico di Torino;</li>
							<li> Università dell'Aquila;</li>
							<li> Università di Bari;</li>
							<li> Università della Basilicata;</li>
							<li> Università di Brescia;</li>
							<li> Università di Bologna;</li>
							<li> Università di Cagliari;</li>
							<li> Università della Calabria;</li>
						</ul>
					</td>
					<td>
						<ul>
							<li> Università della Campania;</li>
							<li> Università di Catania;</li>
							<li> Università di Firenze;</li>
							<li> Università di Genova;</li>
							<li> Università di Messina;</li>
							<li> Università di Milano;</li>
							<li> Università di Milano-Bicocca;</li>
							<li> Università di Napoli;</li>
							<li> Università di Padova;</li>
							<li> Università di Palermo;</li>
							<li> Università di Parma;</li>
							<li> Università di Perugia;</li>
							<li> Università di Pisa;</li>
							<li> Università di Roma La Sapienza;</li>
						</ul>
					</td>
					<td>
						<ul>
							<li> Università di Roma Tor Vergata;</li>
							<li> Università di Roma Tre;</li>
							<li> Università di Torino;</li>
							<li> Università di Trento;</li>
							<li> Università di Salerno;</li>
							<li> Università degli Studi di Cassino e del Lazio meridionale;</li>
							<li> Università degli Studi dell'Insubria;</li>
							<li> Università degli Studi Mediterranea;</li>
							<li> Università degli Studi di Modena e Reggio Emilia;</li>
							<li> Università di Verona;</li>
							<li> Università Politecnica delle Marche.</li>
						</ul>
					</td>
			</tr>
			</tbody></table>
			<p>Tra gli aderenti della De Cifris, numerosi sono i ricercatori e professori nelle sedi estere: </p>
		  	<table>
				<tr>
					<td>
						<ul>
							<li> Chalmers University of Technology (Svezia);</li>
							<li> Katholieke Universiteit Leuven (Belgio);</li>
							<li> Nazarbayev University (Kazakistan);</li>
							<li> Radboud University (Paesi Bassi);</li>
							<li> Technische Universiteit Eindhoven (Paesi Bassi);</li>
							<li> Università; de Montpellier (Francia);</li>
							<li> Università; Italiana Svizzera (Svizzera);</li>
							<li> Università; Paris 8 - Vincennes-Saint Denis (Francia);</li>
						</ul>
					</td>
					<td>
						<ul>
							<li> University of Bergen (Norvegia);</li>
							<li> University of Edinburgh (Scozia);</li>
							<li> University of Lincoln (Inghilterra);</li>
							<li> University of Luxembourg (Lussemburgo);</li>
							<li> University of Oxford (Inghilterra);</li>
							<li> University of South Florida (Florida);</li>
							<li> University of Stirling (Scozia).</li>
						</ul>
					</td>
				</tr>
			</table>
		  <hr>
		  <h4 id="organizzazione">ORGANIZZAZIONE</h4>
			<ul>
				<li>
					<a class="verdeBello"> Acting President: </a>
					<b>Prof. Michele Elia</b> 
					Politecnico di Torino;
				</li>
				<li>
					<a class="verdeBello"> Acting Director: </a>
					<b>Massimiliano Sala</b>
					Università di Trento.
				</li>
			</ul>
		<ul> 
			<li><font color="green">
				Coordinatore <a routerLink="/cifrisChain" (click)="scegliAttivita('cifrisChain')">CifrisChain</a></font>: Prof. Ivan Visconti, Università di Salerno;</li>
			<li><font color="green">
				Coordinatore <a routerLink="/PQCifris" (click)="scegliAttivita('PQCifris')">PQCifris</a></font>: Prof. Marco Baldi, Università Politecnica delle Marche;</li>
			<li><font color="green">
				Coordinatore <a routerLink="/gareCrittografiche" (click)="scegliAttivita('gareCrittografiche')">Gare</a> e 
				<a routerLink="/iniziativeDivulgative" (click)="scegliAttivita('iniziativeDivulgative')">divulgazione</a></font>: Prof. Andrea Visconti, Università di Milano;</li>
			<li> <font color="green">
				Coordinatore <a routerLink="/opportunita" (click)="scegliAttivita('opportunita')">Stage e tirocini</a></font>: Prof. Massimo Giulietti, Università di Perugia;</li>
			<li><font color="green">
				Coordinatore <a routerLink="/cifrisCloud" (click)="scegliAttivita('cifrisCloud')">Cifris Cloud</a></font>: Prof. Marco Pedicini, Università di Roma Tre;</li>
			<li> <font color="green">
				Coordinatore <a routerLink="/didatticaUniversitaria" (click)="scegliAttivita('didatticaUniversitaria')">Didattica universitaria</a></font>: Prof. Nadir Murru, Università di Trento; </li>
			<li> <font color="green">
				Coordinatore <a routerLink="/seminariLocali" (click)="scegliAttivita('seminariLocali')">Seminari</a></font>: Prof. Roberto La Scala, Università di Bari; </li>
			<li><font color="green">
				Assistente a <i>Direzione</i> e <i>Presidenza</i></font>: Elisa Cermignani.</li>
			</ul>
			</div>
		</div>
	</div>
</ng-sidebar-container>
	