table td, table td * {
	vertical-align: top;
}

h4{
	color:rgb(23, 162, 184);
}

b {
	/* Su richiesta dall'alto modifico il tag <b> in quanto nella 
	sua versione standard risulta all'occhio un po' "slavato" */
	font-weight: 500;
}

.verdeBello{
	color: green;
}