<ng-sidebar-container>
	<ng-sidebar opened="true" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799">
	</ng-sidebar>
	<div ng-sidebar-content class="container bottomExtra"> 
		<br>
		<div class="component mt-3">
			<div class="row">
				<div class="col-md-12">
					<h3>CIFRIS CLOUD</h3>
					<p>
						Tra le attività della De Cifris troviamo l'iniziativa CifrisCloud che raccoglie 
						i membri dell'iniziativa interessati alle molteplici interazioni tra la crittografia 
						e il cloud computing. Senza limitarsi ai principali aspetti teorici in gioco nella 
						Functional Encryption and Homomorphic Encryption, le tecniche per la Multiparty 
						Computation e in genere per il Secret Sharing questo gruppo di interesse vuole fare 
						il punto della situazione, trovando il fattore comune tra le scoperte dei ricercatori 
						e le esigenze delle aziende.
					</p>
				</div>
			</div>
		</div>
	</div>
</ng-sidebar-container>