<div class="px-3">
	<hr>
	<h4 align="center">ADESIONE ADVISORY BOARD</h4>
	<p>L'iniziativa De Componendis Cifris si propone di animare la comunità 
		crittografica italiana, sia nelle sue componenti accademiche, sia nelle 
		sue ramificazioni nel mondo del lavoro e dell'impresa.</p>
	<p>L'Advisory Board De Cifris è formato da aziende ed enti interessati 
		alla Crittografia.</p>
	<p>I membri del Board instaurano una relazione continuativa con il mondo 
		accademico crittografico, in particolare con le sedi universitarie 
		italiane che propongono all'interno delle loro offerte formative dei 
		percorsi orientati alla crittografia e alle sue applicazioni.</p>
	<h4>Come aderire</h4>
	<p> Il Board nasce come accordo firmato ufficialmente fra tre Dipartimenti 
		di tre sedi differenti; questi è formalmente complesso, con diversi 
		allegati. La complessità nasce dall'esigenza di avere un accordo che 
		sia aperto sia ad altre sedi sia a un numero arbitrario di aziende.
		Il suo testo originario, firmato solo da tre sedi e nessuna azienda, è 
		disponibile dietro richiesta formale a <a href="mailto:segreteria@
		decifris.it"> segreteria@decifris.it</a> </p>
	<p>Poniamo che un'azienda o ente XXX voglia aderire.</p>
	<ul>
		<li> XXX contatta <a href="mailto:segreteria@decifris.it">segreteria@decifris.it</a> 
			per manifestare l'interesse, a cui segue una call in cui vengono spiegati 
			i dettagli e i passi successivi.</li>
		<li>Se XXXconferma l'interesse, il Comitato del Board si riunisce e valuta 
			l'opportunità dell'adesione. In caso di decisione positiva, il Comitato 
			sigla un documento di proposta adesione, che deve essere siglato anche da XXX.</li>
		<li> Se i tre Dipartimenti approvano, XXX sigla l'adesione vera e propria. 
			Simultaneamente all'adesione, XXX firma una convenzione di finanziamento 
			di almeno una borsa di studio. La convenzione per le borse di studio è con 
			i singoli Dipartimenti, quindi cambia a seconda della sede.</li>
	</ul>
	<p>Entro il 30 Gennaio 2021 è aperta l'adesione di nuove aziende.</p>
	<hr>
</div>