<ng-sidebar-container>
	<ng-sidebar opened="true" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799"> 
		<ul class="noIndent" align="left">
			<li style="display:none">
				<button autofocus="autofocus"></button>
			</li>
			<li>
				<button class="btn btn-outline-info" routerLink="/deCifrisAthesis">Athesis</button>
			</li>
			<li>
				<button class="btn btn-outline-info" routerLink="/deCifrisAugustaeTaurinorum">Augustae Taurinorum</button>
			</li>
			<li>
				<button class="btn btn-outline-info" routerLink="/deCifrisScholaLatina">Schola Latina</button>
			</li>
			<li>
				<button class="btn btn-outline-info" routerLink="/deCifrisMediolanensibus">Mediolanensibus</button>
			</li>
		</ul>
	</ng-sidebar>
	<div ng-sidebar-content class="container bottomExtra">
		<br>
		<div class="mt-3">
			<div class="row">
				<div class="col-md-12">
					<h3>SEMINARI</h3>
					<p> Tra le attività della De Cifris troviamo l'istituzione di seminari
						a tema crittografico. In particolare abbiamo attivato numerosi cicli,
						alcuni dei quali a carattere tematico:
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li><a routerLink="/deCifrisAthesis">De Cifris Athesis</a>: annunci sui seminari che 
							teniamo a Trento (in questo periodo sono online), circa uno al mese.</li>
						<li><a routerLink="/deCifrisAugustaeTaurinorum">De Cifris Augustae Taurinorum</a>: annunci 
							sui seminari che teniamo a Torino (in questo periodo sono online), circa uno al mese.</li>
						<li><a routerLink="/deCifrisScholaLatina">De Cifris Schola Latina</a>: annunci sui seminari 
							che teniamo a Roma (in questo periodo sono online), circa uno al mese.</li>
						<li><a routerLink="/deCifrisMediolanensibus">De Cifris Mediolanensibus</a>: annunci sui 
							seminari che teniamo a Milano (in questo periodo sono online), circa uno al mese.</li>
					</ul>

					<!-- <ul>
						<li><h6>ERUDITORUM</h6>, annunci di seminari su temi di ampia portata e cultura generale, come ad esempio la Storia della crittografia, l’interazione della crittografia con la Società, gli aspetti Legali e Giuridici, etc. </li>
						<li><h6>CifrisChain</h6>, annunci su eventi e progetti specifici per CifrisChain (il nostro team interno che lavora su blockchain)</li>
						<li><h6>PQCifris</h6>, annunci su eventi e progetti specifici per PQCifris (il nostro team interno che lavora su cifrari post-quantum)</li>
						<li><h6>QuantumCifris</h6>, annunci su eventi e progetti specifici per QuantumCifris (il nostro team interno che lavora su Quantum Cryptography)</li>
						<li><h6>CloudCifris</h6>, annunci su eventi e progetti specifici per CloudCifris (il nostro team interno che lavora sui cifrari per il Cloud Computing)</li>
						<li><h6>MathCifris</h6>, annunci sul gruppo specificatamente matematico che stiamo costituendo in collaborazione con l'UMI (Unione Matematica Italiana)</li>
					</ul> -->

				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<h4>PROSSIMI SEMINARI</h4>
					<p style="color: crimson;">Avviso: causa dell'emergenza Coronavirus (Covid-19) organizzeremo i prossimi eventi in webinar.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<!-- <ul>
						<li>
							De Cifris Augustae Taurinorum
							<ul>
								<li> 5 Febbraio 2021 - 14:30 <br> 
									Carlo Sanna -- <a href="https://www.polito.it/">Politecnico di Torino </a><br>
									"Introduction to Multivariate Cryptography". <br>
									<a href="../../../assets/attivita/seminariLocali/deCifrisAugustaeTaurinorum/locandina_Sanna.pdf">Locandina</a>
								</li>
							</ul>
						</li>
					</ul> -->
				</div>
			</div>
		</div>
	</div>
</ng-sidebar-container>