<div zoomed>
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" 
		style="background-color: rgb(146, 215, 226);">
		<img class="pr-2 noFocus"
			routerLink=""
			src="../../assets/logoTrasparente.png" 
			alt="Logo De Cifris" 
			height="40px">
		<a class="navbar-brand" 
			routerLink="" 
			data-toggle="collapse" 
			data-target=".navbar-collapse.show" 
			routerLinkActive="active">
			De Componendis Cifris</a>
		<button class="navbar-toggler" 
			type="button" 
			data-toggle="collapse" 
			data-target="#navbarSupportedContent">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav">
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" 
				routerLink="obiettivi" 
				data-toggle="collapse" 
				data-target=".navbar-collapse.show">Obiettivi</a>
			</li>
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" 
					routerLink="opportunita" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">Opportunità</a>
			</li>
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" 
					routerLink="eventi" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">Eventi</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle"
					routerLink="/attivita" 
					href="#" 
					id="navbarDropdownMenuLink" 
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false">Attività</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				<a class="dropdown-item" 
					value="seminariLocali" 
					routerLink="/seminariLocali" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show" 
					(click)="scegliAttivita('seminariLocali')">Seminari Locali</a>
				<a class="dropdown-item" 
					value="cifrisChain" 
					routerLink="/cifrisChain" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">CifrisChain</a>
				<a class="dropdown-item" 
					value="PQCifris" 
					routerLink="/PQCifris" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">PQCifris</a>
				<a class="dropdown-item" 
					value="cifrisCloud" 
					routerLink="/cifrisCloud" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">CifrisCloud</a>
				<a class="dropdown-item" 
					value="mathCifris" 
					routerLink="/mathCifris" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">MathCifris</a>
				</div>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
				<li class="nav-item" routerLinkActive="active">
					<a class="nav-link" 
						routerLink="mailingList"
						data-toggle="collapse" 
						data-target=".navbar-collapse.show">Mailing List</a>
				</li>
				<li class="nav-item" routerLinkActive="active">
					<a class="nav-link" 
						routerLink="contatti"
						data-toggle="collapse" 
						data-target=".navbar-collapse.show">Contatti</a>
				</li>
			</ul>
		</div>
 	</nav>
	<br>
	<br>
	<br>
	<div class="container">
		<router-outlet (activate)="onActivate($event)"></router-outlet>
	</div>
</div>