<div class="mt-3">
	<div class="row">
		<div class="col-md-12">
			<h4>NEWS</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>In questa sezione riassumiamo brevemente le attività e gli eventi più recenti
				proposti dalla De Cifris.
			</p>
			<ul>
				<li>
					<p>Tra le attività proposte, nelle iniziative divulgative, è presente il nuovo 
						salotto online <a routerLink="/iniziativeDivulgative">"Immuni... e 
						Contenti?"</a> dedicato al tema del contact tracing.</p>
				</li>
				<hr>
				<li>
					<p>Osservazioni alla Risoluzione del Consiglio dell’Unione Europea "Security through 
						encryption and security despite encryption". <a href="">DRAFT PER DISCUSSIONE APERTA</a>.
					</p>
				</li>
			</ul>
		</div>
	</div>
</div>