<ng-sidebar-container>
	<ng-sidebar opened="true" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799">
	<!-- Ai posteri: in caso voleste inserire nuovo contenuto nella sidebar, questo è il posto -->
	<ul class="noIndent" align="left">
		<!-- Utilizziamo questo trick per evitare di rendere visibile l'autofocus al lettore. -->
		<li style="display:none">
			<button autofocus="autofocus"></button>
		</li>
		<li>
			<button class="btn btn-outline-info" (click)="goTo('eventi')">
				Eventi
			</button>
		</li>
		<li>
			<button class="btn btn-outline-info" (click)="goTo('video')">
				Video
			</button>
		</li>
	</ul>
	</ng-sidebar>
	<div ng-sidebar-content class="container bottomExtra"> 
		<br>
		<div class="mt-3">
			<div class="row">
				<div class="col-md-12">
					<h3>PQ-CIFRIS</h3>
					<p> Tra le attività della De Cifris troviamo l'iniziativa PQCifris, che raccoglie 
						i membri della De Cifris interessati alla cosidetta Crittografia Post-Quantum o 
						Crittografia Quantum-Safe. Si tratta di cifrari che sono progettati in modo da 
						poter resistere anche a un attacco crittoanalitico eseguito da un computer quantistico. </p>
					<p> L'obiettivo è creare una sinergia tra le diverse competenze presenti nell'iniziativa per 
						contribuire sia agli aspetti di divulgazione e formazione, sia agli aspetti di ricerca e 
						trasferimento tecnologico.  </p>
					<p> Per aderire all'iniziativa contattare pqcifris@decifris.it. <br>
						Il coordinatore dell'iniziativa è Marco Baldi m.baldi@univpm.it. </p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<h4 id="eventi">EVENTI</h4>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li>
							Seminario online tenuto da Andrea Basso: Saber: a Post-Quantum Lattice-Based Protocol - 24 agosto 2020. 
						</li>
						<li>
							Primo evento tenuto presso la prestigiosa sede della CONSOB: 9 maggio 2019. 					
						</li>
						<li>
							Sessione dell'iniziativa De Componendis Cifris dentro ITASEC18: 8 febbraio 2018. 
						</li>
					</ul>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<h4 id="video">VIDEO</h4>
					<p>I video di crittografia Post-Quantum disponibili sul nostro canale YouTube. </p>
				</div>
			</div>
		</div>
	</div>
</ng-sidebar-container>