<div class="my-3">
	<div class="row">
		<div class="col-md-12" align="center">
			<p>De Componendis Cifris: <a href="mailto:segreteria@decifris.it"> segreteria@decifris.it.</a></p> 
			<p>Acting Director: <a href="mailto:direttore@decifris.it">direttore@decifris.it.</a></p>
			<p>Acting President: <a href="mailto:presidente@decifris.it">presidente@decifris.it.</a></p>
			<a href="https://www.youtube.com/channel/UCTgLUneI3agkv_FcW0RlI0A" 
				title="La nostra pagina YouTube"
				target="_blank">
				<i class="fa fa-youtube fa-2x mr-3"></i></a>
			<a href="https://www.linkedin.com/in/de-componendis-cifris-iniziativa-nazionale-8274501a5/" 
				title="La nostra pagina YouTube"
				target="_blank">
				<i class="fa fa-linkedin-square fa-2x ml-3"></i></a>
		</div>
	</div>
</div>


<!-- <a href="https://www.youtube.com/channel/UCTgLUneI3agkv_FcW0RlI0A"></a> -->